.cell{
    width: 100px;
    height: 100px;
    border: 2px solid;
    font-size: 50px;
    cursor: pointer;
}
#title{
    font-size: xx-large;
}
#PlayBoard{
    text-align: center;

    font-size: 65px; 
    cursor: pointer;
}
#cellContain{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
    justify-content: center;
}
#reset{
    text-align: center;
    
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#p1N{
    width: 450px;
}
#p2N{
    width: 453px;
}